.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: auto;
    background-color: #2a2829;
}

.left {
    font-size: 18px;
    font-weight: bold;
}

.footer-right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.footer-link {
    color: #e0e0dc;
    text-decoration: none;
    font-size: 18px;
}

.footer-link:visited {
    color: #e0e0dc;
}

.footer-link:hover,
.footer-link:active {
    color: #e0e0dc;
    text-decoration: none;
}

/* Media Query for Small Screens */
@media (max-width: 750px) {
    .footer {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .left {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
    }

    .footer-link {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
