/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2a2829;
    position: fixed; /* Keeps the header fixed */
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    z-index: 1000; /* Ensures the header stays on top */
}

.header.hidden {
    transform: translateY(-100%); /* Moves the header out of view */
}

.left {
    font-size: 18px;
    font-weight: bold;
}

.right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 200px;
}

.header-link {
    color: #e0e0dc;
    text-decoration: none;
    font-size: 18px;
}

/* Ensure no underlines and consistent color on hover/active */
.header-link:visited {
    color: #e0e0dc; /* Keeps the link color the same after visiting */
}

.header-link:hover,
.header-link:active {
    color: #e0e0dc; /* Keeps the color on hover/active */
    text-decoration: none; /* Removes the underline on hover/active */
}

/* Media Query for Small Screens */
@media (max-width: 750px) {
    .header {
        flex-direction: column; /* Stack items vertically */
        padding-left: 20px; /* Reduce left padding */
        padding-right: 20px; /* Reduce right padding */
        padding-top: 50px; /* Reduce top padding */
        padding-bottom: 50px; /* Reduce bottom padding */
        position: relative;
        width: auto;
    }

    .left {
        font-size: 16px; /* Reduce font size */
        margin-bottom: 10px; /* Add space between sections */
    }

    .right {
        flex-direction: column; /* Stack the links vertically */
        align-items: center; /* Center the links */
        margin-right: 0px;
    }

    .header-link {
        font-size: 14px; /* Reduce link font size */
        margin-bottom: 10px; /* Add space between links */
    }
}
