.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2a2829;
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Smooth transition for appearing/disappearing header */
    z-index: 1000; /* Makes sure the header stays at the top */
}

.header.hidden {
    transform: translateY(-200px); /* Moves the header out of view; solves flickering tab bar issue (on Safari) */
}

.left {
    font-size: 18px;
    font-weight: bold;
}

.right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 200px;
}

.header-link {
    color: #e0e0dc;
    text-decoration: none;
    font-size: 18px;
}

.header-link:visited {
    color: #e0e0dc;
}

.header-link:hover,
.header-link:active {
    color: #e0e0dc;
    text-decoration: none;
}

/* Media Query for Small Screens */
@media (max-width: 750px) {
    .header {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        width: auto;
    }

    .left {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .right {
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }

    .header-link {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
