.iconItem {
    text-align: center;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.iconItem:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}

.iconImage {
    width: 150px;
    height: 150px;
    cursor: default;
}

.iconLabel {
    color: #2a2829;
    font-size: 20px;
    margin-top: 8px;
}
