.profileSection {
    display: flex;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
}

.profileSection img {
    width: 400px;
    height: 100%;
    margin-right: 50px;
    margin-left: 0px;
}

.textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.helloSection {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.helloText {
    font-size: 18px;
    font-style: italic;
    color: #2a2829;
    margin-right: 10px;
}

.line {
    flex: 100%;
    height: 1px;
    background-color: #2a2829;
}

.bodyText {
    font-size: 22px;
    color: #2a2829;
    line-height: 1.45;
}

/* Media Query for Small Screens */

@media (max-width: 750px) {
    .profileSection {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .profileSection img {
        width: 100%;
        margin-right: 40px;
        margin-left: 0px;
        margin-bottom: 20px;
        display: block;
    }

    .bodyText {
    font-size: 18px;
    color: #2a2829;
    line-height: 1.45;
    }
}

/* Styles for inline text */
.italicText {
    font-style: italic;
    color: #2a2829;
}

.purpleText {
    color: #642c95;
}