/* ProjectCard.css */

.container {
    background-color: #2a2829;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: row; /* Default to row for larger screens */
    margin-bottom: 50px;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.container:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.image {
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 230px; /* Set a fixed width for uniform text alignment */
    height: 100%;
    object-fit: cover; /* Ensure proper image scaling */
    margin: 50px 20px 50px 20px; /* Keep consistent spacing */
}

.textBox {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allows it to take remaining space evenly */
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left; /* Ensures text inside is left-aligned */
}

.nameText {
    color: #e0e0dc;
    font-size: 23px;
    font-weight: bold;
    text-align: left; /* Align text to the left */
}

.descriptionText {
    color: #e0e0dc;
    font-size: 23px;
    text-align: left; /* Align text to the left */
}

.linkContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Ensures links are left-aligned */
}

.link {
    color: #e0e0dc;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 15px; /* Space between the links */
}

/* Media Query for Small Screens */
@media (max-width: 750px) {
    .container {
        flex-direction: column; /* Stack image and text vertically on small screens */
        align-items: center; /* Center the content */
        margin-left: 20px; /* Reduce margins for small screens */
        margin-right: 20px;
    }

    .image {
        width: 35%; /* Make the image take full width on small screens */
        height: auto; /* Let the height adjust automatically */
        margin-bottom: 20px; /* Add space between image and text */
    }

    .textBox {
        padding: 15px; /* Reduce padding on small screens */
        margin-top: 20px; /* Reduce top margin */
        margin-bottom: 20px; /* Reduce bottom margin */
        width: 100%; /* Ensure text spans full width */
    }

    .nameText {
        font-size: 18px; /* Smaller font size for small screens */
        margin-left: 20px;
        margin-right: 20px;
    }

    .descriptionText {
        font-size: 18px; /* Smaller font size for small screens */
        margin-left: 20px;
        margin-right: 20px;
    }

    .link {
        font-size: 18px; /* Smaller font size for links */
        margin-right: 10px; /* Reduce space between links */
        text-decoration: underline;
        margin-left: 20px;
    }
}
